section#chats.chats
    h2.section-title.text-dark.font-weight-bold Чаты
        form.search-form.pb-5
            input.form-control.rounded-0.text-secondary.pl-4.shadow-none(type="search" placeholder="Поиск по сообщениям" aria-label="Search")

            .chat-list.mt-5.w-100
                a.chat-item.text-decoration-none(href="#")
                    .chat-body.d-flex.pl-3.shadow-sm.mb-3.align-items-center
                        img.avatar(src="/assets/images/avatar_4.jpg")
                        .info.py-4.text-truncate.flex-fill
                            h6.name.font-weight-bold.mb-0 Вениамин Редакторович
                            p.message.mb-0.small.text-truncate o_O
                        p.time.small.text-secondary 11:45
                    
                a.chat-item.text-decoration-none(href="#")
                    .chat-body.d-flex.pl-3.shadow-sm.mb-3.align-items-center
                        img.avatar(src="/assets/images/avatar_2.jpg")
                        .info.py-4.text-truncate.flex-fill
                            h6.name.font-weight-bold.mb-0 Джедай Падаванов
                            p.message.mb-0.small.text-truncate Привет, скоро третий проект? Уже скоро надо будет выложить
                        p.time.small.text-secondary 10:12

                a.chat-item.text-decoration-none(href="#")
                    .chat-body.d-flex.pl-3.shadow-sm.mb-3.align-items-center
                        img.avatar(src="/assets/images/avatar_3.jpg")
                        .info.py-4.text-truncate.flex-fill
                            h6.name.font-weight-bold.mb-0 Алексей Примадонин
                            p.message.mb-0.small.text-truncate Тесты упали &gt;_&lt;
                        p.time.small.text-secondary 08:53
                        