section#header-chat.header-chat.w-100.position-sticky.sticky-top
    .contact-body.d-flex.pl-3.border-bottom.border-gray
        img.avatar.align-self-center(src="/assets/images/avatar_4.jpg")

        .info.py-4.align-self-center
            h6.name.font-weight-bold.mb-0 Вениамин Редакторович
            p.status.mb-0.small Онлайн