doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body

        h2.section-title.text-dark.font-weight-bold Контакты
        form.search-form
            input.form-control.rounded-0.text-secondary.pl-4.shadow-none(type="search" placeholder="Поиск по контактам" aria-label="Search")
        
        section#contacts.contacts
                .contact-list
                    .alphabet.text-muted.pt-5
                        h6.font-weight-normal А

                    a.contact-item.text-decoration-none(href="#")
                        .contact-body.d-flex.pl-3.shadow-sm
                            img.avatar.align-self-center(src="/assets/images/avatar_3.jpg")
                            .info.py-4.align-self-center
                                h6.name.font-weight-bold.mb-0 Алексей Примадонин
                                p.status.mb-0 Онлайн
