section#current-chat.current-chat.w-100.h-100.bg-white
    .current-chat-header.border-bottom.border-gray.sticky-top
        .contact-body.bg-white.shadow-none.d-flex.align-items-center.pl-3
            img.avatar.align-self-center(src="/assets/images/avatar_4.jpg")
            .contact-info
                h6.contact-name.font-weight-bold.mb-0.text-dark Вениамин Редакторович
                p.contact-status.mb-0.small.text-secondary Онлайн

    .p-5
        .message.message-left.d-flex.align-items-end.w-100.mb-3
            img.avatar.d-none.d-md-block.mr-3(src="/assets/images/avatar_4.jpg")
            .message-body.shadow-sm.bg-light.p-4
                h6.name.text-dark.font-weight-bold.mb-1 Вениамин Редакторович
                p.message-text.text-secondary.pb-2.mb-1.border-bottom.border-gray Да, я уже вышел и минут через 20-30 буду у тебя. Поеду на трамвае и потом в магазин. Тебе что-то захватить?
                p.message-time.text-secondary.mb-0 8 минут назад
        
        .message.message-right.d-flex.align-items-end.w-100.ml-auto.mb-3
            img.avatar.d-none.d-md-block.mr-3(src="/assets/images/avatar_1.jpg")
            .message-body.shadow-sm.bg-primary.p-4
                p.message-text.text-light.pb-2.mb-1.border-bottom.border-gray Захвати мне колы и пару печенек. Как-то очень сладкого хочется, а в магазин идти лень
                p.message-time.text-gray.mb-0 5 минут назад
        
        .message.message-left.d-flex.align-items-end.w-100.mb-3
            img.avatar.d-none.d-md-block.mr-3(src="/assets/images/avatar_4.jpg")
            .message-body.shadow-sm.bg-light.p-4
                h6.name.text-dark.font-weight-bold.mb-1 Вениамин Редакторович
                p.message-text.text-secondary.pb-2.mb-1.border-bottom.border-gray Лады
                p.message-time.text-secondary.mb-0 5 минут назад
        
        .message.message-right.d-flex.align-items-end.w-100.ml-auto.mb-3
            img.avatar.d-none.d-md-block.mr-3(src="/assets/images/avatar_1.jpg")
            .message-body.shadow-sm.bg-primary.p-4
                p.message-text.text-light.pb-2.mb-1.border-bottom.border-gray А, слушай, купи мне ещё Macbook Pro. А то хочется работать в Хекслете, а там это условие
                p.message-time.text-gray.mb-0 3 минут назад
        
        .message.message-left.d-flex.align-items-end.w-100.mb-2
            img.avatar.d-none.d-md-block.mr-3(src="/assets/images/avatar_4.jpg")
            .message-body.shadow-sm.bg-light.p-4
                h6.name.text-dark.font-weight-bold.mb-1 Вениамин Редакторович
                p.message-text.text-secondary.pb-2.mb-1.border-bottom.border-gray о_О
                p.message-time.text-secondary.mb-0 Только что

    .current-chat-inputs.border-top.border-gray.p-0.px-3.p-md-2.mx-md-5.bg-white
        form.d-flex.align-items-center.justify-content-between
            input.chat-input.text-secondary.border-0.py-4.flex-grow-1(type="text" placeholder="Напишите сообщение...")
            button.chat-input-button.btn.btn-primary.rounded-circle 
                img.button-icon(src="/assets/images/icons/arrow_btn.svg")