section#chats.chats.order-1.order-md-2.tab-pane.fade.active.pt-5.px-4.h-100(role="tabpnel" aria-labelledby="chats-tab")
    h2.section-title.text-dark.font-weight-bold Чаты
    form.search-form.pb-5
        input.form-control.rounded-0.text-secondary.pl-4.shadow-none(type="search" placeholder="Поиск по сообщениям" aria-label="Search")

    .chat-list
        a.chat-item.text-decoration-none(href="#chat.html")
            .chat-body.d-flex.pl-3.shadow-sm.mb-3.align-items-center
                img.avatar(src="/assets/images/avatar_4.jpg")
                .info.py-4.text-truncate.flex-fill
                    h6.name.font-weight-bold.mb-0 Вениамин Редакторович
                    p.message.mb-0.small.text-truncate o_O
                p.time.small.text-secondary 11:45
            
        a.chat-item.text-decoration-none(href="#")
            .chat-body.d-flex.pl-3.shadow-sm.mb-3.align-items-center
                img.avatar(src="/assets/images/avatar_2.jpg")
                .info.py-4.text-truncate.flex-fill
                    h6.name.font-weight-bold.mb-0 Джедай Падаванов
                    p.message.mb-0.small.text-truncate Привет, скоро третий проект? Уже скоро надо будет выложить
                p.time.small.text-secondary 10:12

        a.chat-item.text-decoration-none(href="#")
            .chat-body.d-flex.pl-3.shadow-sm.mb-3.align-items-center
                img.avatar(src="/assets/images/avatar_3.jpg")
                .info.py-4.text-truncate.flex-fill
                    h6.name.font-weight-bold.mb-0 Алексей Примадонин
                    p.message.mb-0.small.text-truncate Тесты упали &gt;_&lt;
                p.time.small.text-secondary 08:53

section#current-chat.current-chat.p-5.d-flex.flex-column

    .message.message-left.d-flex.mb-3
        img.avatar.mr-3.align-self-end(src="/assets/images/avatar_4.jpg")
        .message-body.p-4.shadow-sm.bg-light
            h6.name.text-dark.font-weight-bold.mb-1 Вениамин Редакторович
            p.message-text.text-secondary Да, я уже вышел и минут через 20-30 буду у тебя. Поеду на трамвае и потом в магазин. Тебе что-то захватить?
            p.message-time.text-secondary.mb-0 8 минут назад

    .message.message-left.d-flex.flex-row-reverse.mb-3.align-self-end
        img.avatar.ml-3.align-self-end(src="/assets/images/avatar_1.jpg")
        .message-body.p-4.shadow-sm.bg-primary
            p.message-text.text-light.pb-2.mb-1.border-bottom.border-gray Захвати мне колы и пару печенек. Как-то очень сладкого хочется, а в магазин идти лень
            p.message-time.text-gray.mb-0 5 минут назад
    
    .message.message-left.d-flex.mb-3
        img.avatar.mr-3.align-self-end(src="/assets/images/avatar_4.jpg")
        .message-body.p-4.shadow-sm.bg-light
            h6.name.text-dark.font-weight-bold.mb-1 Вениамин Редакторович
            p.message-text.text-secondary Лады
            p.message-time.text-secondary.mb-0 5 минут назад

    .message.message-left.d-flex.flex-row-reverse.mb-3.align-self-end
        img.avatar.ml-3.align-self-end(src="/assets/images/avatar_1.jpg")
        .message-body.p-4.shadow-sm.bg-primary
            p.message-text.text-light.pb-2.mb-1.border-bottom.border-gray А, слушай, купи мне ещё Macbook Pro. А то хочется работать в Хекслете, а там это условие
            p.message-time.text-gray.mb-0 3 минут назад

    .message.message-left.d-flex.mb-3
        img.avatar.mr-3.align-self-end(src="/assets/images/avatar_4.jpg")
        .message-body.p-4.shadow-sm.bg-light
            h6.name.text-dark.font-weight-bold.mb-1 Вениамин Редакторович
            p.message-text.text-secondary о_О
            p.message-time.text-secondary.mb-0 Только что
    
    .input-group.border-top.border-gray.align-items-center.p-0.p-md-2.position-fixed.fixed-bottom
        input.form-control.bg-transparent.shadow-none.border-0.rounded-0.text-secondary(type="text" placeholder="Напишите сообщение...")
        .input-group-append
            button.button-message.btn.btn-primary.rounded-circle.shadow-none(type="button")
                img.button-icon(src="/assets/images/icons/arrow_btn.svg")