header.header.bg-primary.p-3.d-flex.align-items-center
    a.logo.flex-grow-1(href="index.html")
        img.header-logo(src="../assets/images/icons/logohex.svg")
    nav.flex-grow-2
        ul.nav.nav-tabs.flex-nowrap(role="tablist")
            li.nav-item
                a#current-chat-tab.nav-link.d-block.d-md-none(data-toggle="tab" href="#current-chat" role="tab" aria-controls="current-chat")
                    svg.icon.icon-chat-left
                        use(xlink:href="../assets/images/sprite/svg/sprite.symbol.svg#chat-left-text")
                    span.text-light.small Чат

            li.nav-item
                a#contacts-tab.nav-link.active(data-toggle="tab" href="#contacts" role="tab" aria-controls="contacts")
                    svg.icon.icon-people
                        use(xlink:href="../assets/images/sprite/svg/sprite.symbol.svg#people")
                    span.text-light.small Контакты

            li.nav-item
                a#chats-tab.nav-link(data-toggle="tab" href="#chats" role="tab" aria-controls="chats")
                    svg.icon.icon-chat
                        use(xlink:href="../assets/images/sprite/svg/sprite.symbol.svg#chat")
                    span.text-light.small Сообщения

            li.nav-item
                a#profile-tab.nav-link(data-toggle="tab" href="#profile" role="tab" aria-controls="profile")
                    svg.icon.icon-person
                        use(xlink:href="../assets/images/sprite/svg/sprite.symbol.svg#person")
                    span.text-light.small Профиль


