doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        header.header.bg-primary
            nav.navbar.h-100
                a.navbar-brand(href="#")
                    img.header-logo(src="../assets/images/icons/logohex.svg")

                ul.navbar-nav.flex-row
                    li.nav-item
                        a.nav-link(href="#contacts")
                            svg.icon.icon-people
                                use(xlink:href="../assets/images/sprite/svg/sprite.symbol.svg#people")
                            span.text-light Контакты

                    li.nav-item
                        a.nav-link(href="#chats")
                            svg.icon.icon-chat
                                use(xlink:href="../assets/images/sprite/svg/sprite.symbol.svg#chat")
                            span.text-light Сообщения

                    li.nav-item
                        a.nav-link(href="#profile")
                            svg.icon.icon-person
                                use(xlink:href="../assets/images/sprite/svg/sprite.symbol.svg#person")
                            span.text-light Профиль