section.hello-section.h-100.text-center.flex-column.justify-content-center.align-items-center
    img.hello-img.rounded-circle(src="../assets/images/avatar_1.jpg")
    h6.text-dark.font-weight-bold Привет, Кодовёнок
    p.text-secondary.small Выбери чат, чтобы начать общаться