- var currentSection = "chat";

doctype html
html.h-100(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Hexlet chat
        link(rel="stylesheet" href="style/app.css")
        
        script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous")

    body.h-100.p-md-4.bg-body 
        .container-fluid.container-xxl.h-100
            .row.h-100.bg-white 
                .left.col.col-md-4.h-100.tab-content.px-0.d-flex.flex-column.flex-column-reverse.flex-md-column.border-right.border-gray.overflow-hidden

                    include sections/header.pug

                    if currentSection == "welcome"
                        #contacts(class="tab-pane active h-100 overflow-hidden" role="tabpanel" aria-labelledby="contacts-tab")
                            include sections/contacts.pug
                        #chats(class="tab-pane fade h-100 overflow-hidden" role="tabpanel" aria-labelledby="chats-tab")
                            include sections/chats-preview.pug
                        #profile(class="tab-pane fade h-100 overflow-hidden" role="tabpanel" aria-labelledby="profile-tab")
                            include sections/profile.pug
                        #current-chat(class="tab-pane h-100 overflow-hidden" role="tabpanel" aria-labelledby="current-chat-tab")
                            include sections/current-chat.pug
                        
                    
                    if currentSection == "chat"
                        #contacts(class="tab-pane fade h-100 overflow-hidden" role="tabpanel" aria-labelledby="contacts-tab")
                            include sections/contacts.pug
                        #chats(class="tab-pane active h-100 overflow-hidden" role="tabpanel" aria-labelledby="chats-tab")
                            include sections/chats-preview.pug
                        #profile(class="tab-pane fade h-100 overflow-hidden" role="tabpanel" aria-labelledby="profile-tab")
                            include sections/profile.pug
                        #current-chat(class="tab-pane fade h-100 overflow-hidden" role="tabpanel" aria-labelledby="current-chat-tab")
                            include sections/current-chat.pug
                
                .right.col.h-100.p-0.d-none.d-md-block
                    if currentSection == "welcome"
                        include sections/welcome.pug

                    if currentSection == "chat"
                        include sections/current-chat.pug