doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="style/app.css")
    body
        .container-xxl.h-100.m-4
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti quaerat ducimus quam quidem tempore, totam delectus optio obcaecati labore debitis maxime iusto vitae laboriosam? Commodi excepturi velit animi fuga asperiores!
