doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="style/app.css")
    body 

        block page
            include sections/header

            h1 главная

            .container
                .row 
                    .col-6
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem enim adipisci maiores repudiandae, cumque ex, aut nihil non quaerat, beatae laborum labore odit doloremque incidunt eaque modi cum blanditiis porro.

            include sections/footer

            svg(class="icon")
                use(class="icon-chat" href="assets/images/sprite/svg/sprite.symbol.svg#chat")


            nav 
                ul 
                    li About 
                    li Contacts 
                    li Download
                ol 
                    li Call us 
                    li Recieve order