.contact-body,
.chat-body {
    height: 93px;

    .avatar {
        @extend %avatar;

        margin-right: 1.5rem;
    }

    .name {
        color: $dark;
    }
    .status,
    .message {
        color: $secondary;
    }

    &:hover {
        background-color: $primary;

        .name {
            color: $light;
        }
        .status,
        .message {
            color: $gray;
        }
    }  
}

.chat-item:hover {
    background-color: $primary;
}

.chat-body {
    
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}