.contact-body,
.chat-body {
    height: 93px;

    .avatar {
        @extend %avatar;

        margin-right: 1.5rem;
    }

    .name {
        color: $dark;
    }

    .status,
    .message,
    .user-message {
        font-size: 14px;
        color: $secondary;
    }

    &:hover {
        background-color: $primary;

        .name {
            color: $light;
        }
        
        .status,
        .message,
        .user-message {
            color: $gray;
        }
    }  
}


.chat-item:hover {
    background-color: $primary;
}